* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Quicksand, sans-serif;
    color: #24292e;
}

/* SITEWIDE */
/* HEADER SECTION */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82px;
    background-color: #24292e;
    border: solid black;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

#logo {
    width: 110px;
    height: 60px;
}

nav div.headerLinks a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    padding: 10px;
}

nav div.headerLinks a:hover {
    transition: 0.3s ease;
    color: #2ebc4f;
}

/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background: white;
}

footer p {
    padding-top: 24px;
    font-size: 18px;
}

.footerCenterHolder {
    width: 980px;
    display: flex;
}

/* MINOR SITEWIDE THINGS */

.errorTemplate {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #edf0f5;
    min-width: 100%;
    min-height: 100%;
    padding: 200px;
}

.errorTemplate img {
    width: 67px;
    height: 75px;
}

img#close {
    width: 50px;
}

img#close:hover {
    cursor: pointer;
}

p.errorMessage {
    max-width: 310px;
    margin: 10px auto;
    color: tomato;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ebc4f;
    border-radius: 2px;
    max-width: 100%;
    height: 50px;
    color: white;
    font-size: 1.4rem;
}

.button:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: mediumseagreen;
}

/* END SITEWIDE */

/* -----------------WELCOME------------------- */

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background: #edf0f5;
}

.welcomeContainer .centerHolder {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* this width needs removing on mediaframe */
    width: 980px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.welcomeContainer .greetings {
    max-height: 380px;
}

.welcomeContainer .formHolder {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    z-index: 1;
    background: white;
    border: solid #dddfe2 1px;
    border-radius: 6px;
    /*     this width to be fixed */
    width: 450px;
    height: fit-content;
    min-height: 260px;
}

.welcomeContainer form {
    margin-bottom: 15px;
}

.welcomeContainer div.formHolder h3 {
    margin-bottom: 15px;
    font-size: 25px;
}

.welcomeContainer div.formHolder .input_holder {
    margin-bottom: 15px;
}

.welcomeContainer div.formHolder .input_holder p {
    font-size: 0.98rem;
}

.welcomeContainer div.formHolder input {
    border: 1px solid #bdc7d8;
    height: 40px;
    min-width: 310px;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
}

.welcomeContainer p.terms {
    width: 310px;
    font-size: 14px;
    margin-top: 7px;
}

.welcomeContainer button {
    margin-top: 18px;
    margin-bottom: 15px;
    min-width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #2ebc4f;
    border: none;
    border-radius: 2px;
    color: white;
}

.welcomeContainer button:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: mediumseagreen;
}

/* WELCOME MICRODETAILS */
.welcomeContainer h1 {
    font-size: 70px;
}

.slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1)
        0.52s both;
    animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1) 0.52s
        both;
}
.slide-in-blurred-top2 {
    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1)
        1.12s both;
    animation: slide-in-blurred-top 0.8s cubic-bezier(0.23, 1, 0.32, 1) 1.12s
        both;
}

.flicker-in-1 {
    -webkit-animation: flicker-in-1 7s linear 1s both;
    animation: flicker-in-1 7s linear 1s both;
}

.fade-in {
    -webkit-animation: fade-in 8.5s cubic-bezier(0.86, 0, 0.07, 1) 1.5s both;
    animation: fade-in 8.5s cubic-bezier(0.86, 0, 0.07, 1) 2s both;
}
.fade-in2 {
    -webkit-animation: fade-in 14s cubic-bezier(0.86, 0, 0.07, 1) 2.5s both;
    animation: fade-in 14s cubic-bezier(0.86, 0, 0.07, 1) 2s both;
    margin-top: 40px;
    font-size: 18px;
}

.welcomeContainer h2 {
    margin-top: 40px;
    font-size: 35px;
}

.welcomeContainer p.fadein {
    margin-top: 35px;
    font-size: 20px;
}

/* -------------- APP HOMEPAGE------------------- */

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background: #edf0f5;
}

.appContainer .centerHolder {
    position: relative;
    /* this width needs removing on mediaframe */
    width: 980px;
    min-height: 80vh;
    margin-bottom: 50px;
}

.appContainer .profileContainer {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.appContainer .profilePicContainer {
    margin: auto;
}

.appContainer .profileContainer img {
    max-width: 100%;
    background-color: white;
    border-radius: 200px;
}

.appContainer .profileContainer img:hover {
    cursor: pointer;
}

.appContainer h1.userfullname {
    margin-top: 20px;
    font-size: 35px;
}

.appContainer div.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(36, 41, 46, 0.9);
    width: 100%;
    height: 100%;
}

.appContainer div.overlay div.uploaderModal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    height: 80vh;
    width: 100vh;
}

.appContainer div.overlay #close {
    position: absolute;
    top: 5px;
    right: 18px;
    margin-top: 18px;
}

.appContainer div.overlay h2 {
    text-align: center;
    font-size: 35px;
    margin: 30px;
}

.appContainer #fileButton {
    display: none;
}

.appContainer #labelUploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ebc4f;
    border-radius: 2px;
    width: 280px;
    height: 50px;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

.appContainer #labelUploadButton:hover {
    cursor: pointer;
    transition: 0.5s ease;
    background-color: mediumseagreen;
}

/* USER BIO COMPONENT */

.appContainer div.userBio.button {
    margin-bottom: 50px;
    transform: translateY(45px);
}

.appContainer div.enterBio.button {
    transform: translateY(45px);
    margin-bottom: 50px;
}

.appContainer .profileContainer h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.appContainer .profileContainer textarea {
    width: 100%;
    height: 45px;
    border-radius: 3px;
}

.appContainer p#bioComment {
    font-style: italic;
    font-family: "Indie Flower";
    font-size: 20px;
    margin-top: 5px;
    word-wrap: break-word;
}

/* ----------MEDIA QUERIES SITEWIDE BELOW-------- */
@media (max-width: 980px) {
    /* CHECK GITHUB HOME TO SEE HEADER/FOOTER WIDHTS */
}

@media (max-width: 768px) {
}

/* ANIMATIONS BELOW */

/* @-webkit-keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1;
    }
    30.5% {
        opacity: 1;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    10.1% {
        opacity: 1;
    }
    10.2% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    20.1% {
        opacity: 1;
    }
    20.6% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    30.1% {
        opacity: 1;
    }
    30.5% {
        opacity: 1;
    }
    30.6% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    45.1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    55.1% {
        opacity: 0;
    }
    57% {
        opacity: 0;
    }
    57.1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    60.1% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    65.1% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    75.1% {
        opacity: 0;
    }
    77% {
        opacity: 0;
    }
    77.1% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    85.1% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    86.1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */

/* ----------FADIN----------------- */

/* @-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

/* ----------SLIDEBLURRED IN-------------- */

/* @-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
} */
